body{
	background-image: url("happy\ birthday.jpg");
	background-size: 100%;
}
#addBotao
{
	margin-top: 20px; 
	margin-bottom: 20px; 
}

input
{
	margin: 10px;
	border-radius: 30px;
	padding:10px;
}
#mostrarNomes
{
	
	display:none;	
	border: 3px solid green;
    padding: 10px;
	background-color: greenyellow;
	border-radius: 10px;
    width: 50%;
}
#resultado
{
	
	border: 3px solid lightblue;
    padding: 10px;
	background-color: aliceblue;
	border-radius: 10px;
    width: 50%;
}


button{
	margin: 10px;
	border-radius: 30px;
	padding:10px;
	background:cyan;
	font-weight: bold;
	color:blue;
	border: solid darkblue 3px;
}